/target/
.classpath
.pom.xml.swp
.project
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
src/main/resources/.configuration.tsv.swp
target/classes/.configuration.tsv.swp
target/classes/configuration.tsv
target/classes/freebase.properties
target/classes/it/unimib/disco/DateExtractorTemporalDefacto/.gitignore
target/classes/it/unimib/disco/DateExtractorTemporalDefacto/DateExtractorTemporalDefacto.class
target/classes/it/unimib/disco/DateExtractorTemporalDefacto/DefactoYearsClient.class
target/classes/it/unimib/disco/DateExtractorTemporalDefacto/SimpleDefactoClient.class
target/classes/it/unimib/disco/DateExtractorTemporalDefacto/SimpleDefactoClientV2.class
target/classes/it/unimib/disco/DateExtractorTemporalDefacto/URLExtractor.class
target/classes/it/unimib/disco/Evaluation/.gitignore
target/classes/it/unimib/disco/Evaluation/Evaluation.class
target/classes/it/unimib/disco/Evaluation/Evaluation_NoReasoning.class
target/classes/it/unimib/disco/Evaluation/Evaluation_v2.class
target/classes/it/unimib/disco/Evaluation/QualityMeasure$Entry.class
target/classes/it/unimib/disco/Evaluation/QualityMeasure.class
target/classes/it/unimib/disco/Evaluation/TestEvaluation.class
target/classes/it/unimib/disco/FactExtractor/DateOccurrence.class
target/classes/it/unimib/disco/FactExtractor/FactExtractor.class
target/classes/it/unimib/disco/FactExtractor/ResourceFetcherDB.class
target/classes/it/unimib/disco/FactExtractor/SparqlEndpoint_SampleSelection.class
target/classes/it/unimib/disco/FreebasePreparation/MqlRead_statistics.class
target/classes/it/unimib/disco/FreebasePreparation/YearExtractorFrb_predicates_people.class
target/classes/it/unimib/disco/FreebasePreparation/YearExtractorFrb_predicates_player.class
target/classes/it/unimib/disco/FreebasePreparation/YearExtractorFrb_predicates_politician.class
target/classes/it/unimib/disco/Matching/.gitignore
target/classes/it/unimib/disco/Matching/Features.class
target/classes/it/unimib/disco/Matching/Matcher.class
target/classes/it/unimib/disco/Matching/TestFactGrouping.class
target/classes/it/unimib/disco/MatrixCreator/.gitignore
target/classes/it/unimib/disco/MatrixCreator/MatrixCreator.class
target/classes/it/unimib/disco/Normalization/.gitignore
target/classes/it/unimib/disco/Normalization/NormalizationSelection.class
target/classes/it/unimib/disco/Optimization/.gitignore
target/classes/it/unimib/disco/Optimization/Configuration.class
target/classes/it/unimib/disco/Optimization/ConfigurationCreator.class
target/classes/it/unimib/disco/Optimization/ConfigurationDecoder.class
target/classes/it/unimib/disco/Optimization/ConfigurationEvaluator.class
target/classes/it/unimib/disco/Optimization/ConfigurationModule.class
target/classes/it/unimib/disco/Optimization/RunOptimizer.class
target/classes/it/unimib/disco/Optimization/RunOptimizer_TD.class
target/classes/it/unimib/disco/Optimization/TemporalIntervalCreator.class
target/classes/it/unimib/disco/ReadFiles/.gitignore
target/classes/it/unimib/disco/ReadFiles/FactGrouping.class
target/classes/it/unimib/disco/ReadFiles/ReadFiles.class
target/classes/it/unimib/disco/Reasoning/Interval.class
target/classes/it/unimib/disco/Reasoning/Reasoning.class
target/classes/it/unimib/disco/Reasoning/TemporalInterval.class
target/classes/it/unimib/disco/Reasoning/TestReasoning.class
target/classes/it/unimib/disco/Script/.gitignore
target/classes/it/unimib/disco/Script/BaselinePeople.class
target/classes/it/unimib/disco/Script/BaselinePlayer.class
target/classes/it/unimib/disco/Script/BaselinePolitician.class
target/classes/it/unimib/disco/Script/Script_people.class
target/classes/it/unimib/disco/Script/Script_people_NoReasoning.class
target/classes/it/unimib/disco/Script/Script_player.class
target/classes/it/unimib/disco/Script/Script_player_NoReasoning.class
target/classes/it/unimib/disco/Script/Script_politician.class
target/classes/it/unimib/disco/Script/Script_politician_NoReasoning.class
target/classes/it/unimib/disco/Script/ScriptAllNormalization_dbp.class
target/classes/it/unimib/disco/Script/ScriptAllNormalization_politician_dbp.class
target/classes/it/unimib/disco/Script/TemporalIntervalCreator.class
target/classes/it/unimib/disco/Script/TemporalIntervalCreatoScript.class
target/classes/it/unimib/disco/Script/TemporalIntervalCreatoScript_NoReasoning.class
target/classes/it/unimib/disco/Script/TemporalIntervalCreatoScript_v2.class
target/classes/it/unimib/disco/Script/Test3.class
target/classes/it/unimib/disco/ScriptFrb/Script_people_Frb.class
target/classes/it/unimib/disco/ScriptFrb/Script_people_Frb_NoReasoning.class
target/classes/it/unimib/disco/ScriptFrb/Script_player_Frb.class
target/classes/it/unimib/disco/ScriptFrb/Script_player_Frb_NoReasoning.class
target/classes/it/unimib/disco/ScriptFrb/Script_politician_Frb.class
target/classes/it/unimib/disco/ScriptFrb/Script_politician_Frb_NoReasoning.class
target/classes/it/unimib/disco/ScriptTD/Script_people_TD.class
target/classes/it/unimib/disco/ScriptTD/Script_people_TD_NoReasoning.class
target/classes/it/unimib/disco/ScriptTD/Script_player_TD.class
target/classes/it/unimib/disco/ScriptTD/Script_player_TD_NoReasoning.class
target/classes/it/unimib/disco/ScriptTD/Script_politician_TD.class
target/classes/it/unimib/disco/ScriptTD/Script_politician_TD_NoReasoning.class
target/classes/it/unimib/disco/Selection/.gitignore
target/classes/it/unimib/disco/Selection/Selection.class
target/classes/it/unimib/disco/Selection/TestSelection.class
target/classes/it/unimib/disco/TemporalFactExtraction/TemporalExtractionInterface.class
target/classes/it/unimib/disco/TemporalFactExtraction/TemporalFactExtractor.class
target/classes/it/unimib/disco/TemporalFactExtraction/YearExtractorDBp_predicates.class
target/classes/it/unimib/disco/YagoDBpediaMapper/.gitignore
target/classes/it/unimib/disco/YagoDBpediaMapper/TransformYagoToDBpedia.class
target/classes/it/unimib/disco/YagoDBpediaMapper/YagoDBpediaMapper.class
target/classes/it/unimib/disco/YagoDBpediaMapper/YagoFactMappedToDBpedia.class
target/classes/it/unimib/disco/YagoDBpediaMapper/YagoPredicatesMappedToDBpedia.class
target/classes/org/aksw/distributions/ChiSquaredGlobalNormalization.class
target/classes/org/aksw/distributions/Fact$Entry.class
target/classes/org/aksw/distributions/Fact.class
target/classes/org/aksw/distributions/FactReader.class
target/classes/org/aksw/distributions/GlobalNormalization.class
target/classes/org/aksw/distributions/LocalNormalization.class
target/classes/org/aksw/distributions/Normalization.class
target/classes/org/aksw/distributions/TemporalScopingBaseline.class
target/classes/org/aksw/distributions/Test.class
target/classes/org/aksw/distributions/Test2.class
target/classes/webDataKnowledge/repositoryDates_people_predicate_dbp_reduced.csv
target/classes/webDataKnowledge/repositoryDates_player.csv
target/classes/webDataKnowledge/repositoryDates_player_predicate.csv
target/classes/webDataKnowledge/repositoryDates_player_predicate_frb.csv
target/classes/webDataKnowledge/repositoryDates_politician.csv
target/classes/webDataKnowledge/repositoryDates_politician_predicate_complete.csv
target/classes/webDataKnowledge/repositoryDates_politician_predicate_dbp_reduced.csv
target/classes/webKnowledge/sortbyplayer-labels-with-space_out_large.csv
target/classes/webKnowledge/sortbyplayer-labels-with-space_out_medium.csv
target/classes/webKnowledge/sortbyplayer-labels-with-space_out_small.csv
target/classes/webKnowledge/sortbyplayer-labels-with-space_out_small_copy.csv
target/classes/webKnowledge/people/tmplarge.csv
target/classes/webKnowledge/people/tmpmedium.csv
target/classes/webKnowledge/people/tmpsmall.csv
target/classes/webKnowledge/politician/tmplarge.csv
target/classes/webKnowledge/politician/tmpmedium.csv
target/classes/webKnowledge/politician/tmpsmall.csv
target/classes/yagoFactsMappedDBp/YagoFactMappedToDBpedia_out_1.csv
target/classes/yagoFactsMappedDBp/yagoPredicatesMappedDBpedia.csv
output/evaluation_proxyX_player-1-10.csv
output/interval/evaluationWithIntervals_proxyX-1-10.csv
output/matrix/matrix_proxyX-1-10.csv
.goldStandard_player.tsv.swp
